.stepContainer {
    width: 100%;
    height: 100%;
    overflow-y:auto ;
}
.stepDesc {
    margin:0;
}

.stepQ-desc {
    text-align: start;
    font-weight: bold;
}
.unbolded {
    font-weight: initial;   
}
.stepAnswers {
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    justify-content: center;
}
.radioElemContainer {
    width:10vmin ;
    height: 8vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vmin;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.27);
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
}
.radioElemContainer:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.selected {
    box-shadow: 0px 0px 15px rgba(249, 60, 139, 0.45);
}

.rangeSlider {
    display: flex;
    width: 100%;
    justify-content: center;
}
.rangeSliderValue {
    width: 3vmin;
    height: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.inputModel {
    width: 70%;
}




















